.parent {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .child {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

.page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.unionistSide {
  width: 40vmin;
  padding: 10px;
  margin: 10px;
}

.unionistPlatform {
  background-color: blue;
  font-family: 'Anton';
  border: 2px dashed #aaa;
  color: white;
  text-align: center;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.unionistBooks {
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
}

.nationalistSide {
  width: 40vmin;
  padding: 10px;
  margin: 10px;
}

.nationalistPlatform {
  background-color: rgb(39, 157, 3);
  border: 2px dashed #aaa;
  color: white;
  text-align: center;
  font-family: 'Anton';
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.nationalistBooks {
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
}


.homeButton:hover {
  cursor: pointer;
}

.settingsButton:hover {
  cursor: pointer;
} 

.shelf-and-scale-wrapper {
  display: flex;
  width: 100%;
  height: 50vh; /* Adjust height as needed */
}

.shelf-zone {
  flex: 1;
  width: 100%;
}

.books {
  margin-top: 20%;
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  bottom: 0;
}

.booksOnShelf {
  display: flex;
  align-items: flex-start;
}

.shelf {
  margin: auto;
  height: auto;
}

.drop-zone {
  flex: 1;
  width: 100%;
  height: 100%;
}

.unionistBooks, .nationalistBooks {
  transition: height 0.5s ease; /* Add transition property for height */
}

.unionistBooks,
.nationalistBooks {
  display: flex;
  flex-direction: row; /* Display items side-by-side */
  justify-content: center; /* Center items horizontally */
  align-items: flex-end; /* Align items to the bottom */
}

.titleAndBalanceContainer {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

h1 {
  font-family: 'Anton';
  font-size: 10vmin;
  margin: 2%;
}

h3 {
  font-family: 'Anton';
  font-size: 3vmin;
  padding-bottom: 1%;
}