@import url('https://fonts.googleapis.com/css2?family=Anton&family=UnifrakturCook:wght@700&display=swap');

.parent {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .child {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

.page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
  z-index: 0;
}

.contentsContainer {
  position: 'relative';
  z-index: 2;
}

.book-img {
  width: 5vmin;
  height: auto;
  display: block;
  margin: auto;
}

.book-name {
  font-family: 'Anton';
  position: fixed;
  background-color: #555;
  color: white;
  border-radius: 6px;
  padding: 5px 10px;
  z-index: 1000;
}

.bookshelf-img {
  width: 70vmin;
  height: auto;
  display: block;
  margin: auto;
}


.unionistSide {
  width: 40vmin;
  padding: 10px;
  margin: 10px;
}

.unionistPlatform {
  background-color: rgba(76, 79, 255, 0.765);
  font-family: 'Anton';
  border: 2px dashed #ffffff;
  color: white;
  text-align: center;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 40vmin;
  height: 8vmin;
  font-size: 3vmin;
}

.unionistPlatform h4 {
  margin: auto;
  padding-top: 5%;
}

.nationalistSide {
  width: 40vmin;
  padding: 10px;
  margin: 10px;
}

.nationalistPlatform {
  background-color: rgba(149, 255, 111, 0.575);
  /* background-color: grey; */
  border: 2px dashed #ffffff;
  color: white;
  text-align: center;
  font-family: 'Anton';
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 40vmin;
  height: 8vmin;
  font-size: 3vmin;
}

.nationalistPlatform h4 {
  margin: auto;
  padding-top: 5%;
}


.homeButton:hover {
  cursor: pointer;
}

.settingsButton:hover {
  cursor: pointer;
} 

.shelf-and-scale-wrapper {
  display: flex;
  width: 100%;
  height: 50vh;
}

.shelf-zone {
  flex: 1;
  width: 100%;
}

.books {
  margin-top: 20%;
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
}

.booksOnShelf {
  display: flex;
  align-items: flex-start;
  z-index: 2;
  margin-top: -20px;
}

.shelf {
  position: relative;
  margin: auto;
  height: auto;
  z-index: 1;
}

.drop-zone {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.unionistBooks, .nationalistBooks {
  transition: height 0.5s ease; /* Add transition property for height */
}

.nationalistBooks, .unionistBooks {
  display: flex;
  flex-direction: column-reverse; /* Stack rows from bottom to top */
  align-items: center; /* Align rows horizontally in the center */
  height: 100%; /* Set to the desired height */
}

.nationalistRow, .unionistRow {
  display: flex;
  flex-direction: row; /* Align newspapers in a row */
  justify-content: center; /* Center newspapers within the row */
  width: 100%; /* Set row to full width of the container */
  position: relative; /* Needed for absolute positioning of children */
  margin-top: -5%;
}

.nationalistIssue, .unionistIssue {
  flex: 0 0 20%; /* Each item will take up 20% of the container's width */
  position: relative; /* Allow z-index to take effect for overlap */
  z-index: 1; /* Set base z-index to ensure stacking context */
}

.nationalistIssue img {
  width: 8vmin; /* Adjust as needed */
  height: auto;
  display: block;
  margin: '0 auto';
  cursor: 'pointer';
  position: relative; /* Position each image relatively within the issue container */
  z-index: 2; /* Ensures that the image will stack on top of the one below it */
}

.unionistIssue img {
  width: 8vmin; /* Adjust as needed */
  height: auto;
  display: block;
  margin: '0 auto';
  cursor: 'pointer';
  position: relative; /* Position each image relatively within the issue container */
  z-index: 2; /* Ensures that the image will stack on top of the one below it */
}

/* This pseudoelement creates the overlap effect for each row */
.nationalistRow::before {
  content: '';
  position: absolute;
  top: -10px; /* Same as bottom offset of img for a consistent overlap */
  left: 0;
  right: 0;
  height: 10px; /* Same as bottom offset of img */
  background-color: transparent; /* Change this to the background color of your images if needed */
  z-index: 1;
}

.unionistRow::before {
  content: '';
  position: absolute;
  top: -10px; /* Same as bottom offset of img for a consistent overlap */
  left: 0;
  right: 0;
  height: 10px; /* Same as bottom offset of img */
  background-color: transparent; /* Change this to the background color of your images if needed */
  z-index: 1;
}



.titleAndBalanceContainer {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

h1 {
  font-family: 'Anton';
  font-size: calc(var(--base-font-size) + 8vmin);
  margin: 2%;
}

h3 {
  font-family: 'Anton';
  font-size: calc(var(--base-font-size) + 3vmin);
  padding-bottom: 1%;
}


/*================================*/

.newspaperPopover {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the heading text */
  text-align: center;
  width: 90%;
}

.newspaperPopoverContainer {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the heading text */
  width: 100%;
}

.line {
  height: 1px;
  background-color: #000;
  width: 80%; /* Adjust the width as needed */
  margin: 2px 0; /* Spacing above and below the line */
}

/* .newspaper-img {
  width: 8vmin;
  height: auto;
  display: block;
  margin: auto;
  cursor: pointer;
} */


/*================================*/

.invisibleWeights {
  display: none;
}

.navBar .homeButton:hover {
  color: #04aa23;
}

.navBar .settingsButton:hover {
  color: #04aa23;
}

.navBar .submitButton:hover {
  color: #04aa23;
}