.background {                                    
  position: relative;
  height: 100vh;
  overflow: auto;
  margin: 0 auto;
  background-color: #0b6ea5;
}

.reflection-container h1 {
  text-align: center;
  color: #333;
}


input,
textarea {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: calc(var(--base-font-size) + 1vmin);
  width: 90%;
}

.reflectionContentContainer h1 {
  color: white;
  text-align: center;
  font-size: calc(var(--base-font-size) + 5vmin);
  justify-content: center;
}

.wordCloud {
  background-color: white;
  align-content: center;
  height: 425px;
  width: 400px;
}

.biasNotice {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  padding: 4%;
  font-size: calc(var(--base-font-size) + 2vmin);
}

/* .container {
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: auto;
} */

.container {
  position: relative;
  height: 100vh;
  overflow: auto;
  align-items: center; 
  justify-content: center;
  margin: 0 auto;
}


.reflection-container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100vmin;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
  margin-top: calc(50vh - 50vmin); /* Centers vertically if the height is fixed */
}

button {
  background-color: #0b6ea5;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: calc(var(--base-font-size) + 1vmin);
  border-radius: 5px;
  margin: 15px 0; /* Separation between elements */
  width: 100%;
}

button:hover {
  background-color: #094565;
}

.image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
  z-index: -1;
}

.navBar {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
}

.wordCloudContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
