.background {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .reflection-container {
    width: 40vw; 
    height: auto;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .reflection-container h1 {
    text-align: center; 
    color: #333;
    margin-bottom: 20px;
  }
  
  .reflection-container form {
    display: flex;
    flex-direction: column;
  }
  
  .reflection-container input,
  .reflection-container textarea,
  .reflection-container button {
    margin-bottom: 15px;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 90%;
  }
  
  .reflection-container textarea {
    height: 100px; 
  }
  
  .reflection-container button {
    background-color: #0b6ea5;
    color: #fff; 
    border: none;
    cursor: pointer;
  }

  .reflectionContentContainer h1 {
    color: white;
    text-align: center;
    font-size: 3vw;
  }
  
  .reflection-container button:hover {
    background-color: #094565;
  }

  .wordCloud {
    background-color: white;
    align-content: center;
    height: 400;
    width: 400;
  }

  .wordCloudContainer {
    width: 100vw; /* Make the container span the entire viewport width */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
