@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box; 
  background-color: #0b6ea5;
  background-image: url("../../../public/newspaperDark.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: auto; 
  white-space: normal;
  z-index: 0;
}



.Container .SettingsIcon {
  font-size: 32px;
  color: #F0FFFF;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.Header {
  text-align: center;
  font-family: 'Anton';
  margin-bottom: 20px;
  color: #F0FFFF;
  top: 5%;
}

.Section {
  color: #F0FFFF;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Anton';
}

.Section .Button {
  text-align: center;
  background-color: #F0FFFF;
  color: #007bff;
  padding: 10px 20px;
  font-size: calc(var(--base-font-size) + 1vmin);
  cursor: pointer;
  border-style: ridge;
  border-color: #007bff;
  border-radius: 4px;
  font-family: 'Anton';
}

.Section .Button:hover {
  background-color: #04aa23; 
  color: #F0FFFF;
  border-color: #F0FFFF;
}

a:link,
a:visited {
  text-align: center;
  text-decoration: none;
  color: #F8F8FF;
}

a:hover,
a:active {
  text-align: center;
  text-decoration: underline;
  background-color: #04aa23;
  color: #F8F8FF;
}

.title {
  font-size: calc(var(--base-font-size));
  font-weight: bold;
}

.subTitle {
  font-size: calc(var(--base-font-size) + 4vmin);
  font-weight: bold;
}

.textBody {
  font-size: calc(var(--base-font-size) + 2vmin);
}