@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.loginContainer{
  width: 35%;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  position: relative;
  overflow: auto;
  white-space: normal;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
  z-index: -1;
}

.Container .settings- icon {
  font-size: 32px;
  color: #F0FFFF;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.Header {
  text-align: center;
  margin-bottom: 20px;
  color: #F0FFFF;
  font-family: 'Anton';
  font-family: 'Anton';
}

.Section {
  color: #F0FFFF;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Anton';
  font-family: 'Anton';
}

.Section button {
  text-align: center;
  background-color: #F0FFFF;
  color: #007bff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-style: ridge;
  font-family: 'Anton';
  font-family: 'Anton';
  border-color: #007bff;
  border-radius: 4px;
}

.FormHeader {
  color: #F0FFFF;
  font-family: 'Anton';
}

a:link,
a:visited {
  text-align: center;
  text-decoration: none;
  color: #F8F8FF;
}

a:hover,
a:active {
  text-align: center;
  text-decoration: underline;
  color: #F8F8FF;
}

.pageContainer {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  height: 100vh;
  background-color: #0b6ea5;
  position: relative;
  z-index: 0;
}

  /* Additional styles specific to the login component */
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    font-family: 'Anton';
    font-family: 'Anton';
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Anton';
    font-family: 'Anton';
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-family: 'Anton';
    font-family: 'Anton';
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .settings-icon {
    font-size: 32px;
    width: 100%;
    height: 100%;
    color: #F0FFFF;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  
  h2 {
    margin-bottom: 20px;
    font-family: 'Anton';
    color: #F0FFFF;
  }
  
  .error-message {
    color: red;
  }

  .page-title {
    font-size: calc(var(--base-font-size) + 10vmin);
  }

  .username-label {
    font-size: calc(var(--base-font-size) + 3vmin);
  }

  .password-label {
    font-size: calc(var(--base-font-size) + 3vmin);
  }

  .login-button {
    font-size: calc(var(--base-font-size) + 2vmin);
  }