@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.backGround {
  background-image: url("../../../public/newspaperDark.jpeg");
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

.foreground {
  width:50%;
  height: 80%;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #094565; 
  border: 2px solid rgb(255, 255, 255);
  border-radius: 12px;
  font-family: 'Anton';
  padding: 10px;
  color: #F0FFFF;
  overflow: auto;
  white-space: normal; 
}

.tabText {
  font-family: 'Anton';
}

.backGround .HomeIcon {
  font-size: 32px;
  color: #F0FFFF;
  position: relative;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.backGround .HomeIcon:hover {
  color: #F0FFFF; 
}

.foreground{
  font-size: 90%;
}

.fontSize {
  font-size: calc(var(--base-font-size));
}

.foreground .loginButton {
  text-align: center;
  background-color: #F0FFFF;
  color: #094565;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Anton';
  cursor: pointer;
  border-style: ridge;
  border-color: #007bff;
  border-radius: 4px;
  
}

.foreground .loginButton:hover {
  background-color: #04aa23; 
  color: white;
  border-style: ridge;
  border-color: white;
}

.foreground .Mui
{
color: #F0FFFF;
}

.foreground .Mui.Mui-checked {
  color: #04aa23; 
}