.background {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  height: 100vh;
  background-color: #0b6ea5;
  background-image: linear-gradient(160deg, #0b6ea5 0%, #80D0C7 50%, #11920a 100%);
  position: relative;
}

.foreground {
  width:50%;
  height: 80%;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #094565;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 12px;
  padding: 10px;
  color: #F0FFFF;
  overflow: auto;
  white-space: normal; 
}

.background .homeIcon {
  font-size: 32px;
  color: #F0FFFF;
  position: relative;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.foreground .fontSize{
  font-size: 90%;
}
 