.page {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
    z-index: -1;
  }
  
  .nav-bar {
    position: fixed;
    top: 20px;
    left: 20px;
  }

  .home-button:hover {
    cursor: pointer;
  }
  
  .settings-button:hover {
    cursor: pointer;
  } 
  
  .title-wrapper {
    position: absolute;
    top: 7%;
    left: 0;
    z-index: 2;
    font-family: 'Anton, sans-serif';
    width: 100%;
    text-align: center;
  }
  
  .title {
    font-size: calc(var(--base-font-size) + 13vmin);
    color: white;
    text-align: center;
  }
  
  .information-wrapper {
    color: white;
    font-size: 10vmin;
  }
  
  .information-header {
    font-size: calc(var(--base-font-size) + 3vmin);
  }
  
  .header2020 {
    margin-top: -3%;
  }
  
  .average-result-header {
    font-size: calc(var(--base-font-size) + 7vmin);
    margin-top: -1%;
  }
  
  .reflection-button.MuiButton-root {
    font-family: 'Anton';
    padding: 10px;
    font-size: calc(var(--base-font-size) + 2vmin);
    border-radius: 4px;
    background-color: #F0FFFF;
    color: #007bff;
    border: 1px solid #007bff;
    width: 20%;
    text-transform: capitalize;
  }
  
  .reflection-button.MuiButton-root:hover {
    background-color: #04aa23;
    color: #fff;
    border: 1px solid #fff;
  }
  

  .nav-bar .home-button:hover {
    color: #04aa23;
  }
  
  .nav-bar .settings-button:hover {
    color: #04aa23;
  }
  